<template name="customerRepsIndex">

<div class="page home">


    <div class="content-scrollable">

    <!-- <h3 style="background-color:#ffe200">Transit: 16001</h3> -->
    <h3>Transit #16001</h3>

      <ul>
        {{#each employees}}
          {{> employee}}
          {{/each}}
      </ul>
    </div>
 </div>
</template>

<template name="employee">
<table>
  <tr> <td>
    <img src="{{picture.url}}" width="75" height="75"/> </td> <td>&nbsp;<a href="/employeeInfo/{{objectId}}/{{repID}}">{{name}}</a>

 </td><br/></tr>
 </table>
</template>
