<template name="contactIndex">
  <h1>Contacts</h1>

  <p><b>Director of Major Initiatives: </b>Satish Patel</p>
  <p><b>Senior IT Project Manager: </b>Hossein Panahi</p>
  <p><b>Senior Application Developer: </b>Murtaza Hasni</p>
  <p><b>Advisory Application Developer: </b>Matthew Swammy</p>
  <p><b>Senior Manager: </b>Rakesh Brahmbhatt</p>
  <p><b>Production Application Support Specialist: </b>Zaheer Moostofa</p>
  <p><b>IT Project Co-ordinator: </b>Hassan Latif</p>
  <p><b>Senior Solutions Architect: </b>Leonid Sheinfeld</p>
</template>
